source https://www.nuget.org/api/v2

storage: none

group netcorebuild
    source https://www.nuget.org/api/v2
    storage: none

    nuget Fake.DotNet.Cli
    nuget Fake.DotNet.Paket
    nuget Fake.Core.Target
    nuget Fake.Core.Process
    nuget Fake.Core.String
    nuget Fake.IO.FileSystem
    nuget Fake.JavaScript.Npm
    nuget BlackFox.Fake.BuildTask
