source https://www.nuget.org/api/v2

storage: none

github ionide/ionide-vscode-helpers src/Fable.Import.VSCode.fs
github ionide/ionide-vscode-helpers src/Helpers.fs
github ionide/ionide-vscode-helpers src/Fable.Import.Axios.fs

group netcorebuild
    source https://www.nuget.org/api/v2

    nuget Fake.DotNet.Cli
    nuget Fake.DotNet.Paket
    nuget Fake.Core.Target
    nuget Fake.Core.Process
    nuget Fake.Core.String
    nuget Fake.IO.FileSystem
    nuget Fake.JavaScript.Npm
    nuget BlackFox.Fake.BuildTask
